<div class="container mt-5">
    <h2>Administración de Técnicas</h2>
    <table class="table">
        <!-- Encabezado de la tabla -->
        <thead>
            <tr>
                <th>Nombre de la Técnica</th>
                <th>Detalle</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <!-- Cuerpo de la tabla -->
        <tbody>
            <!-- Iteración sobre cada técnica -->
            <tr *ngFor="let tecnica of tecnicas; let i = index">
                <!-- Columna para el nombre de la técnica -->
                <td>
                    <!-- Desplegable para seleccionar la técnica -->
                    <select class="form-select" [(ngModel)]="tecnica.nombreTecnica" (change)="seleccionarTecnica(i)">
                        <option selected disabled>Seleccione una técnica</option>
                        <option *ngFor="let t of opcionesTecnica" [value]="t.nombreTecnica">{{ t.nombreTecnica }}</option>
                    </select>
                </td>
                <!-- Columna para el detalle -->
                <td><input type="text" class="form-control" [(ngModel)]="tecnica.detalle"></td>
                <!-- Columna para las acciones (botón de confirmar técnica) -->
                <td>
                    <button class="btn btn-primary mr-2" (click)="confirmarTecnica(i)">Confirmar Técnica</button>
                    <button class="btn btn-primary" (click)="eliminarTecnica(i)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Botón para agregar una nueva técnica -->
    <button class="btn btn-success" (click)="agregarTecnica()">+</button>
</div>
